.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #dcdde1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%,0px);
  }
  .bar {
      background-color: #dcdde1;
      position: absolute;
      top: 0px;
      left: 0px;
      transform: translate(0px,0px);
      width: 100%;
      height: 36px;
  }
  .nev {
      color: #f1c40f;
      font-weight: bold;
      font-size: 25px;
      -webkit-text-stroke: 0.5px black;
      position: absolute;
      left: 1%;
      top: 0%;
      transform: translate(-1%,-70%);
  }
  .b {
      display: flex;
      justify-content: space-evenly;
      
      
      
      
  }
  .kep {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #dcdde1;
    overflow: hidden;
   
  }
  .nem {
      display: flex;
      height: 190px;
      
      justify-content: center;
      align-items: flex-end;
    
    
  }

  .cim {
    color: #f1c40f;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
  }
  .leiras {
      font-size: 10px;
      color: #8395a7;
      font-family: sans-serif;
  }
.menu button {
    background-color: #576574;
    border-style: none;
    width:min-content ;
    border-width: 2px; 
    height: 31px;
    font-size: 20px;
    width: 140px;
}
.men {
    background: none;
    border: none;
    height: 31px;
}
#kepp{
    background: none;
    border: none;
}

 .mm {  
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(0px,2px);
     background-color:  #dcdde1;
     width: min-content;
 }
 .mm .men {
     position: absolute;
     right: 0px;
 }
 .mm .menu {
     position: absolute;
     top: 34px;
     right: 0px;
 }
 .menu {
    background-color: #576574;
     display: none;
     width: min-content;  
 }
 .szoveeg {
     border-style: none;
     border-bottom-style: solid;
     border-color: #f1c40f;
 }
 #contact {
     display: none;
     
 }
 #contact dl {
     font-size: 30px;
 }
 
 #info {
     display: none;
 }
 
 .bactoh button {
     position: absolute;
     left: 100%;
     top: 0px;
     transform: translate(-100%,0px);
     border-style: none;
     background-color: #576574;
     text-align: center;
     height: 36px;
     width: 140px;
     border-bottom-left-radius: 50px;
     border-top-left-radius: 50px;
     font-size: 15px;
     font-weight: bold;
 }
 .lo { 
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }
 .lo input {
     width: 100%;
     border-style: none;
     border-bottom-style: solid;
     border-width: 3px;
     font-family: sans-serif;
     border-color: #f1c40f;
     -webkit-text-stroke: 0px black; 
     text-align: center; 
     background: transparent;
     color: wheat;
 }
 .lolo {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     color: #f1c40f;
     
     font-weight: bold;
     font-family: sans-serif;     
 }

 
 .place {
     height: 40%;
 }
 .bejbu {
     border-radius: 30px;
     background: none;
 }
.lololo {
    display: flex;
    border-style: hidden;
    align-items: center;
    
    height: 90%;
    width: 90%;
}
.lolole {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    border-style: solid;
    border-color: #222f3e;
    background-color: #353b48;
    border-radius: 20px;
}
